:root {
  --bg-color: #161823;
  --bg-secondary-color: #191d28;
  --primary-color: #d7dbdf;
  --secondary-color: #f2cb78;
  --text-button: #f2cb78;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Koulen', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Raleway', sans-serif;
}

/* Add your CSS code here */
/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 230; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(#d7dbdf), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(#161823, 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/


.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  padding: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--bg-color);
}

/*==================== NAV ====================*/


.nav-control{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 55px;

}
.header-nav  a{
transition: all 0.3s ease-in-out;
font-weight: 600;
}
.header-nav  a:hover{
  color: var(--secondary-color);
}
.nav-control svg{
  cursor: pointer;
}
.nav-control button,.nav-menu button{
border: 0;
background-color: transparent;
color: var(--primary-color);
}
.nav-menu{
  position: absolute;
  bottom: -230px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-around;
  width: 100%;
  align-items: center;
  min-height: 230px;
  padding-bottom: 65px;
  z-index: 111;
  background-color: var(--bg-color);
  transition: all .5s ease;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

/* show menu */
.show-menu{

  bottom: 0;
}
.nav-close {
position: absolute;
right: 14%;
bottom: 10%;
width: 40px;
height: 40px;
}

@media screen and (max-width:990px) {
  .header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--bg-color);
  }
}

/* Active link */
.nav-control a{
  color: var(--primary-color);
}

/* .nav-control a:visited{
  color: var(--secondary-color);
} */

/* Change background header */


/*==================== HOME ====================*/
.home-social{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.home-social a{
cursor: pointer;
transition: 0.5s all ease-in-out;

}
.home-social a svg{
  width: 30px;
  height: 30px;
  color: var(--secondary-color);
}
.home-image{

  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.header {

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header-nav ul {

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem
}

.header-nav ul li {

  list-style-type: none;

}

.importante {
  color: var(--secondary-color);
}

.primary-btn {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--bg-color);
  font-family: 'Raleway', sans-serif;
}

.primary-btn:hover,
.primary-btn:active,
.primary-btn:focus {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--bg-color);

}





/* CSS */
.button {
  border: none;
  max-width: 190px;

}
.button a {
  max-width: 190px;
  position: relative;
  width: 190px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  overflow: hidden;

  z-index: 1;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button a .button__text {
  transform: translateX(22px);
  color: var(--bg-color);
  font-weight: 600;
  z-index: 111;

}

.button a .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 100px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button a .svg {
  width: 20px;
  fill: var(--bg-color);
}

.button a:hover {
  background: var(--secondary-color);
}

.button:hover a .button__text {
  color: transparent;
}

.button:hover a .button__icon {
  width: 138px;
  transform: translateX(25px);
}

.button:active a .button__icon {
  background-color: var(--secondary-color);
}


/*==================== BUTTONS ====================*/

.send-button {
  font-family: inherit;
  font-size: 20px;
  background: var(--bg-secondary-color);
  color: var(--text-button);
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  border: var(--bg-color);
}

.send-button span {
  display: block;
  margin-left: 0.5em;
  transition: all 0.3s ease-in-out;
}

.send-button svg {
  display: block;
  color :var(--text-button);
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.send-button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.send-button:hover svg {
  transform: translateX(2.5rem) rotate(45deg) scale(1.1);
}

.send-button:hover span {
  transform: translateX(5em);
}

.send-button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}


/*==================== ABOUT ====================*/
.about-image{

  border-radius: 20px;
  max-height: 300px;
  object-fit: cover;
}
.experience{
  display: flex;
  gap: 20px;
}
.experience span{

  font-size:  34px;
  font-weight: 600;
}
.experience div{
  padding: 10px;
  max-width: 100px;
  /* border: 2px solid var(--primary-color); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.experience-par{
  text-align: center;
}
/*==================== SKILLS ====================*/


/*==================== QUALIFICATION ====================*/


/*==================== SERVICES ====================*/


/* Active Modal */


/*==================== PORTFOLIO ====================*/


/*==================== PROJECT IN MIND ====================*/


/*==================== TESTIMONIAL ====================*/


/*==================== CONTACT ME ====================*/


/*==================== FOOTER ====================*/


/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/


/*==================== MEDIA QUERIES ====================*/
/* For small devices */


/* For medium devices */


/* For large devices */

